<section .section>
  <div .container>
    <h1 .title>
      Already Purchased

    <p .content>
      It looks like you already own a license for this template.

    <p .content>
      Check your email for it, or contact support at
      <a href="mailto:support@template.cs-syd.eu">
        support@template.cs-syd.eu
      if you cannot find your license anymore.
