<div .container>
  <div .box>



    <section .section>
    <section .hero>
      <div .column .has-text-centered>
         <img src=@{StaticR static_tom_sydney_kerckhove_logo_haskell_svg} alt="Haskell Logo" width="200px">



      <h3 .title .is-size-3 .has-text-weight-semibold .has-text-centered>
        Haskell Templates by CS SYD

      <div .columns .is-centered>
        <div .column .is-two-thirds>
          <h4 .subtitle .is-size-4 .has-text-centered>
            Save hours by starting your project from a template.



    <section .section>
    <section .section>
      <div .columns .is-half>

        <div .column>
          <h5 .title .is-5>
            What's included

          <h6 .subtitle .is-6 .has-text-justified>
            You can take a template off the shelf and get started on a project that already has everything you need:

          <div .content .is-normal .has-text-justified>
            <ul>
              <li>
                Instructions for how to use the template
              <li>
                Best practices for file and function naming
              <li>
                An appropriate gitignore file
              <li>
                Best practices for compile flags
              <li>
                A test suite
              <li>
                A README with relevant sections
              <li>
                Option parsing: Flags, Environment variables and Configuration files.
              <li>
                Flake-based CI
              <li>
                A nix build
              <li>
                A stack build
              <li>
                A cabal build
              <li>
                A statically-linked Nix build
              <li>
                A weeder check
              <li>
                A test coverage report
              <li>
                Pre-commit hooks for auto-formatting and linting

        <div .column>
          <section .section>
          <section .section>
            <div .columns .is-centered>
              <div .column .is-two-thirds>
                <p .content .has-text-centered>
                  <img src="https://cs-syd.eu/logo/res/positive/logo.svg" alt="CS Syd Logo" width="150px">

                <p .is-size-5 .has-text-justified .is-italic>
                  "Do you also find youself spending the first few hours setting up the necessary boiler plate?
                  What if you could skip those and get started implementing your business logic immediately?"



    <section .section>
      <div .columns .is-centered>
        <div .column .is-half>
          $forall (_, card) <- templateTups
            <div .container>
              <div .block>
                <section .section>
                  <div .columns>
                    <div .column .item>
                      ^{card}



<section .section>
