<section .section>
  <div .columns>
    <div .column .is-half .is-offset-one-quarter>
      <div .block>
        <div .title>
          Template License
        <div .subtitle>
          #{templateUser} / #{templateRepo}

      <div .block>
        ^{card}

<section .section>
  <div .columns>
    <div .column .is-half .is-offset-one-quarter>
      <div .block .content>
        <h3>
          Instructions
        <p>
          Your license comes with a secret key: 
          <code>
            #{renderSecretBase64Text licenseSecret}
          embedded in the link.
        <p>
          Make sure to save a link to this page so that you can still have access to this license later:

        <pre>
          @{LicenseR user repo secret}

<section .section>
  <div .columns>
    <div .column .is-half .is-offset-one-quarter>
      <div .block .content>
        <h3>
          License summary

        <p>
          This the license for #{licenseUserName}
          $maybe userEmail <- licenseUserEmail
            #{userEmail}
          for the 
          <code>
            #{templateUser} / #{templateRepo}
          template.

        ^{licenseTerms}


