<div .container>
  <div .box>



    <section .section>
      <div .columns .is-centered>
        <div .column .is-half>
          ^{card}



    <section .section>
    <section .section>
      <div .columns .is-half>
        <div .column>
          <p .title .is-size-4 .has-text-centered>
            Is it worth the price?

            <form .form .calculator>
              <table .table>
                <tbody>
                  <tr>
                    <th .has-text-right>
                      Template price
                    <td>
                      <div .control>
                        #{renderPriceText templatePrice} CHF

                  <tr>
                    <th .has-text-right>
                      Value of your time
                    <td>
                      <div .control>
                        <input 
                          .calculator__time_price
                          type="range" min="#{minValueTime}" max="#{maxValueTime}" value="#{defValueTime}" step="5"
                          required/>
                        <span .time-price-amount>
                  
                  <tr>
                    <th .has-text-right>
                      Time to write your own
                    <td>
                      <div .control>
                        <input 
                          .calculator__time_writing
                          type="range" min="#{minTimeToWriteOwn}" max="#{maxTimeToWriteOwn}" value="#{defTimeToWriteOwn}" step="0.25"
                          required/>
                        <span .time-writing-amount>

                  <tr>
                    <th .has-text-right>
                      Time to start with the template
                    <td>
                      <div .control>
                        <input 
                          .calculator__time_setup
                          type="range" min="#{minSetupTime}" max="#{maxSetupTime}" value="#{defSetupTime}" step="0.25"
                          required/>
                        <span .time-setup-amount>

                  <tr>
                    <th .has-text-right>
                      You save
                    <td>
                      <div .control>
                        <b>
                          <span .calculator__result>



        <div .column>
          <p .title .is-size-4 .has-text-centered>
            License

          <p .content .is-normal .has-text-justified>
            When purchasing a template, you get a license with the following terms:

          ^{licenseTerms}

    <section .section>
      <div .columns .is-half>
        <div .column>
          <form .form
              action=@{CheckoutR templateUser templateRepo}
              method=post>
            <table .table .center>
              <tbody>
                <tr>
                  <th .has-text-right>
                    Price
                  <td>
                    <div .control>
                      #{renderPriceText templatePrice} CHF

                <tr>
                  <th .has-text-right>
                    Name
                  <td>
                    <div .control>
                      <input required name="name" type="text" placeholder="Jane Doe">

                <tr>
                  <th .has-text-right>
                    Email address
                  <td>
                    <div .control>
                      <input required name="email" type="email" placeholder="jane.doe@example.com">
                    <p .help>
                      Your license will be sent to this email address.
                      <br>
                        This will not sign you up for any newsletters.

                ^{token}

                <tr>
                  <th>
                  <td>
                    <div .control>
                      <button .button .is-primary type="submit">
                        Buy now
